@using ContentEditableMvc
@model ContentEditableMvcSample.Models.ExampleModel
@{
    ViewBag.Title = "ContentEditableMvc Sample";
}


<h2>@Model.Title</h2>
<h3>@Model.Subtitle</h3>
<p>@Model.ParagraphText</p>
<hr />


<h2>@Html.ContentEditableFor(true, Model.Id, m => m.Title)</h2>
<h3>@Html.ContentEditableFor(true, Model.Id, m => m.Subtitle)</h3>
<p>@Html.ContentEditableFor(true, Model.Id, m => m.ParagraphText)</p>